/* gonna make an awesome fake restaurant yep */

/* * {
	border: 1px dashed red;
}*/


#content {
	
}

#wrapper {
	width: 606px;
	margin: 0 auto;
}

#wrapper2 {
	width: 400px;
	margin: 0 auto;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

a {
	
}

img {
	margin: 0 auto;
	width: 406px;
	display: inline;


}

h1 {
	text-align: center;
}

.tabsLeft {
	font-family: 'Homenaje', sans-serif;
	float: left;
	display: inline;
	width: 100px;
	margin-top: 40px;

}

#l1, #l2, #l3, #r1, #r2, #r3 {
	height: 25px;
	width: 100px;
	background-color: #ff9966;
	text-align: center;
	padding-top: 7px;
	margin: 0 auto;
	cursor: pointer;

}

.tabsRight {
	font-family: 'Homenaje', sans-serif;
	float: right;
	display: inline;
	width: 100px;
	margin-top: 40px;


}
